{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lights{% endblock %}</h1>
{% endblock %}

{% block content %}
  Show the status of the lights here
  URL: {{ url }}
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>On</th>
      <th>Group ID</th>
    </tr>
    {% for light in lights %}
      <tr>
        <td>{{ light.id }}</td>
        <td>{{ light.light_name }}</td>
        <td>{{ light.state_on }}</td>
        <td>{{ light.group_id }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}