{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lights{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table id="lights" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>On</th>
        <th>Group</th>
        <th>Reachable</th>
      </tr>
    </thead>
    <tbody>
      {% for light in lights %}
        <tr {% if not light.state_reachable %} class="unreachable" {% endif %}>
          <td>{{ light.light_name }}</td>
          <td>{{ light.state_on }}</td>
          <td>{{ light.group_name }}</td>
          <td>{{ light.state_reachable }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#lights').DataTable( {
        "iDisplayLength": 100,
        "createdRow": function (row, data, dataIndex) {
          if (row.className == 'unreachable') {
            $('td', row).css('background-color', '#fc6156');
          }
        }
      });
    });
  </script>

{% endblock %}